<!DOCTYPE html>
<html>
<head>
    <title>Submission Result</title>
</head>
<body style="background-color: rgb(235, 239, 106);">
    <h1 style="color: rgb(91, 4, 4);">Submission Successful!</h1>
    <div style="color: rgb(44, 59, 1);font-size: 30px;">
        <p >Hello, <strong><%= name %></strong>!</p>
        <p>Your age is: <strong><%= age %></strong></p>
        <p>Your branch is: <strong><%= branch %></strong></p>
        <p>Your specialization is: <strong><%= specialization %></strong></p>
        <p>Your job is: <strong><%= job %></strong></p>
    <br>
    </div>
    
    <h2><a href="/form">Submit Another</a> </h2>
    <h2><a href="/">Home</a></h2>
</body>
</html>
